@{
    ViewData["Title"] = "Home Page";
}
<div class="Homecontainer">
    <div class="HContent">
    <h1>PACMEN</h1>
     <div class="homeimage">
            <img height="200" class="justify-content-center text-center" src="~/img/pacmanIndex.png" />
        </div>
    <p>PacMen is a cool website where you can play lots of fun games. If you want to join in, you just need to create an account and log in. Once you're in, you can play the games!. It's a great way to have fun and compete with friends online!</p>
<a asp-controller="User" asp-action="Login">Get Your Game On</a>
</div>
    </div>



@* 

<div id="leaderboard">
        <div class="ribbon"></div>
        <table>
          <tr>
            <td class="number">1</td>
            <td class="name">Lee Taeyong</td>
            <td class="points">
              258.244 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
            </td>
          </tr>
          <tr>
            <td class="number">2</td>
            <td class="name">Mark Lee</td>
            <td class="points">258.242</td>
          </tr>
          <tr>
            <td class="number">3</td>
            <td class="name">Xiao Dejun</td>
            <td class="points">258.223</td>
          </tr>
          <tr>
            <td class="number">4</td>
            <td class="name">Qian Kun</td>
            <td class="points">258.212</td>
          </tr>
          <tr>
            <td class="number">5</td>
            <td class="name">Johnny Suh</td>
            <td class="points">258.208</td>
          </tr>
        </table>
        <div id="buttons">
          <button class="exit">Exit</button>
          <button class="continue">Continue</button>
        </div>
</div> *@



